* { 
    margin: 0; 
    padding: 0; 
    font-family: "Reddit Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    word-spacing: 1px;
}

body {
    color: white;
    background-image: linear-gradient(to right top, #000000, #0a0809, #110f11, #161417, #19191d);
}

#particles-js {
	height: 380px; 
	width: 100%;
    position: absolute;
    border-bottom: 1px solid #373d48;
}

.Info {
    display: inline-block;
    margin-top: 120px;
    margin-left: 300px;
    opacity: .99;
}

.Info p {
    padding-top: 15px;
    padding-right: 575px;
}

.Info img {
    margin-right: 300px;
    float: right;
}

.Social {
    margin-top: 10px;
}

.Social a{
	text-decoration: none;
	color: white;
}

.Social a:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.Social i {
	border-radius: 50%;
	border: 1px solid #373d48;
	padding: 5px;
}

.Proyectos {
    margin-top: 150px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.Proyecto {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.Proyecto {
    margin-right: 40px;
}

.Texto {
    margin-left: 10px;
    font-size: 20px;
}

.Imagen {
    border-radius: 1rem;
    height: 290px;
    width: 600px;
}


.link {
    display: flex;
}

.Codigo {
    width: 90px;
    padding: 9px 15px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

.Codigo:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}

.Codigo a {
    text-decoration: none;
    color: black;
}

.Repositorio {
    width: 60px;
    padding: 9px 15px;
    margin-left: 620px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

.Repositorio:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}

.Repositorio a {
    text-decoration: none;
    color: black;
}


.sitio {
    width: 110px;
    padding: 9px 15px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: .5rem;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

.sitio:hover {
    transform: scale(1.1); /* Aumenta el tamaño */
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.701); /* Sombra */
}

.sitio a {
    text-decoration: none;
    color: black;
}

.Habilidades {
    margin-top: 100px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.interfaz {
    margin-left: 100px;
}

.lenguajes {
    margin-top: 20px;
    margin-left: 90px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(115px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    grid-gap: .8rem;
}

.lenguaje {
    border-radius: .5rem;
    border: 1px solid rgb(37, 36, 36);
    background-image: linear-gradient(to right top, #000000, #0a0809, #110f11, #161417, #19191d);
    padding: 1rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .Info {
        display: inline-block;
        margin-top: 150px;
        margin-left: 100px;
    }

    .Info p {
        padding-top: 15px;
        padding-right: 575px;
    }
}



/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #particles-js {
        height: 380px; 
    }

    .Info {
        display: inline-block;
        margin-top: 100px;
        margin-left: 100px;
    }

    .Info p {
        padding-top: 15px;
        padding-right: 370px;
    }

    .Info img {
        margin-right: 100px;
    }

    .Proyectos {
        margin-top: 150px;
        margin-left: 50px;
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
    }
    
    .Proyecto {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    
    .Texto {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 20px;
    }

    .icono{
        width: 68;
        height: 55;
    }

    .Repositorio {
        margin-left: 350px;
    }
}



/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    #particles-js {
        height: 400px; 
    }

    .Info {
        display: inline-block;
        margin-top:30px;
        margin-left: 20px;
    }

    .Info img {
        margin-left: 150px;
        float: none;
    }

    .Info p {
        padding-right: 120px;
    }

    .Proyectos {
        margin-top: 100px;
        margin-left: 50px;
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
    }
    
    .Proyecto {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    
    .Texto {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 20px;
    }

    .Imagen{
        width: 450px;
        height: 200px;
    }

    .icono {
        width: 68;
        height: 55;
    }

    .Repositorio {
        margin-left: 350px;
    }

    .Habilidades {
        margin-left: 50px;
    }

    .lenguajes {
        margin-left: 40px;
    }

    .interfaz {
        margin-left: 50px;
    }
}



/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    #particles-js {
        height: 420px; 
    }

    .Info {
        display: inline-block;
        margin-top: 30px;
        margin-left: 20px;
    }

    .Info img {
        margin-left: 70px;
        margin-right: 86px;
        float: none;
    }
    
    .Info p {
        padding-right: 10px;
    }

    .Proyectos {
        margin-top: 70px;
        margin-left: 20px;        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
    }
    
    .Proyecto {
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 50px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    
    .Texto {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 20px;
    }

    .Imagen{
        width: 330px;
        height: 150px;
    }

    .icono {
        width: 68;
        height: 55;
    }

    p {
        margin-right: 10px;
    }

    .Repositorio {
        margin-left: 130px;
    }

    .Habilidades {
        margin-left: 30px;
    }

    .lenguajes {
        margin-left: 30px;
    }

    .Habilidades {
        margin-left: 30px;
    }

    .lenguajes {
        margin-left: 10px;
    }

    .interfaz {
        margin-left: 20px;
    }
}