* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Reddit Sans Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    word-spacing: 1px;
}

body {
    background-color:#0d0d12;
    color: #fff;
}

#particles-js {
	height: 380px; 
	width: 100%;
    position: absolute;
    border-bottom: 1px solid #373d48;
}

.Info {
    display: inline-block;
    margin-top: 120px;
    margin-left: 300px;
    opacity: .99;
}

.Info p {
    padding-top: 15px;
    padding-right: 575px;
}

.Info img {
    margin-right: 300px;
    float: right;
}

.Social {
    margin-top: 10px;
}

.Social a{
	text-decoration: none;
	color: white;
}

.Social a:hover {
	text-decoration: underline;
	text-decoration-color: white;
}

.Social i {
	border-radius: 50%;
	border: 1px solid #373d48;
	padding: 5px;
}

.Proyectos {
    margin-top: 150px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
}

.Proyecto {
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
    object-fit: cover;
    display: flex;
    flex-direction: row;
}

.Texto {
    margin-left: 10px;
    font-size: 20px;
}

.Imagen {
    border-radius: 1rem;
    height: 290px;
    width: 600px;
}

p {
    margin-right: 10px;
}



@media (min-width: 768px) and (max-width: 1024px) {
    .Info {
        display: inline-block;
        margin-top: 150px;
        margin-left: 100px;
    }

    .Info p {
        padding-top: 15px;
        padding-right: 575px;
    }
}



/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #particles-js {
        height: 380px; 
    }

    .Info {
        display: inline-block;
        margin-top: 100px;
        margin-left: 100px;
    }

    .Info p {
        padding-top: 15px;
        padding-right: 370px;
    }

    .Info img {
        margin-right: 100px;
    }

    .Proyectos {
        margin-top: 150px;
        margin-left: 50px;
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
    }
    
    .Proyecto {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    
    .Texto {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 20px;
    }

    .Texto img {
        width: 68;
        height: 55;
    }
}



/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/
  
@media (min-width: 481px) and (max-width: 767px) {
    #particles-js {
        height: 400px; 
    }

    .Info {
        display: inline-block;
        margin-top:30px;
        margin-left: 20px;
    }

    .Info img {
        margin-left: 150px;
        float: none;
    }

    .Info p {
        padding-right: 120px;
    }

    .Proyectos {
        margin-top: 100px;
        margin-left: 50px;
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
    }
    
    .Proyecto {
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 50px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    
    .Texto {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 20px;
    }

    .Imagen{
        width: 450px;
        height: 200px;
    }

    #icono {
        width: 68;
        height: 55;
    }
}



/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/
  
@media (min-width: 320px) and (max-width: 480px) {
    #particles-js {
        height: 420px; 
    }

    .Info {
        display: inline-block;
        margin-top: 30px;
        margin-left: 20px;
    }

    .Info img {
        margin-left: 70px;
        margin-right: 86px;
        float: none;
    }
    
    .Info p {
        padding-right: 10px;
    }

    .Proyectos {
        margin-top: 70px;
        margin-left: 20px;
        font-weight: 600;
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        display: flex;
        align-items: center;
    }
    
    .Proyecto {
        margin-top: 50px;
        margin-left: 20px;
        margin-bottom: 50px;
        object-fit: cover;
        display: flex;
        flex-direction: column;
    }
    
    .Texto {
        margin-top: 20px;
        margin-left: 10px;
        font-size: 20px;
    }

    .Imagen{
        width: 330px;
        height: 150px;
    }

    .icono {
        width: 68;
        height: 55;
    }
}